@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

.groupingBtn {
  width: 6rem;
  margin: 3%;
  background-color: rgb(206, 197, 197);
  border-radius: 5px;
  border: white;
  height: 2rem;
}

.groupingBtn:focus {
  background-color: #b89c9c;
}

#forceViz {
  background-color: rgb(182, 202, 202);
  padding: 1rem;
}

#forceSVG {
  margin: 1rem;
  padding: 2rem;
}

#cornerSankey {
  width: 10rem;
  height: 8rem;
  /* background-color: aqua; */
}

#sankeyLabels {
  width: 10rem;
  height: 8rem;
  /* background-color: aqua; */
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: 0.2;
}
.link:hover {
  stroke-opacity: 0.5;
}

#dropdownContainer {
  margin-top: 1rem;
  /* margin-bottom: -1rem; */
}

#rankingGraphsArea {
  display: flex;
  width: 900px;
  height: 500px;
  margin-top: 10rem;
}

#totalPowerContainer {
  margin-right: 5rem;
}

.sankeyLabelText {
  /* fill: red; */
  font: bold 20px sans-serif;
}

#fullSankeyContainer {
  border: 1px solid black;
  height: 500px;
  padding: 3%;
  margin-bottom: -10rem;
}

#dropdownArea {
  display: flex;
  flex-direction: row;
  background-color: beige;
}

#dropdownLabel {
  font-family: "Quicksand", sans-serif;
  margin-left: 2rem;
  margin-right: 2rem;
}

#stateNameDropdown {
  width: 10rem;
  height: 2rem;
  margin: auto;
  font-family: "Quicksand", sans-serif;
}

.rankSentence {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

.rankString {
  font: bold;
  font-weight: 700;
}
